@using FruitsTraceabilitySystem.Application.ViewModels.Harvests
@model HarvestViewModel

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Harvest</h2>
            <hr />
        </div>
         <div class="mb-3">
            <label asp-for="Product"></label>
            @*<input asp-for="Category" class="form-control" />*@
             <select asp-for="ProductId" asp-items="ViewBag.ProductList" class="form-select">
                    <option disabled selected>--Selected Product--</option>
             </select>
            <span asp-validation-for="Product" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px"><i class="fad fa-edit"></i> Update</button>
        <a asp-controller="Harvest" asp-action="Index" class="btn btn-danger" style="width:150px"><i class="fad fa-long-arrow-left"></i> Back</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}