@using FruitsTraceabilitySystem.Application.ViewModels.Locations

@model LocationViewModel

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Location</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="PlaceName"></label>
            <input asp-for="PlaceName" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px"><i class="fad fa-trash-alt"></i> Delete</button>
        <a asp-controller="Location" disabled asp-action="Index" class="btn btn-primary" style="width:150px"><i class="fad fa-long-arrow-left"></i> Back</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}